@using Microsoft.AspNetCore.Identity
@using Weather_forecast.ViewModels
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
@model CityAndApi
@{
    ViewData["Title"] = "Search history";
}

@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Search history</h1>
        <form asp-action="Index" asp-controller="Home" method="get" style="display: inline-block; margin-right: 8px">
            <button type="submit" style="width:150px; height:30px; margin-bottom:30px;" class="btn btn-outline-secondary btn-sm whitehover text-black">
                <span>Go back</span>
                <img src="https://www.svgrepo.com/show/238203/backward.svg" style="width: 19px; margin-top:-2px;" />
            </button>
        </form>
        @if (Model != null)
        {
            <div style="display: flex; justify-content: center;">
                <table class="table table-striped table-bordered" style="width: auto; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th style="min-width: 300px; text-align: left;">Location and info</th>
                            <th style="width: 200px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int numeration = 1; }
                        @foreach (var city in Model.Cities)
                        {
                            <tr>
                                <td style="text-align: center;">@numeration</td>
                                <td style="text-align: left; word-wrap: break-word;">
                                    <strong>Location:</strong> @city.CityName
                                    @if (city.isMultipleDayForecast)
                                    {
                                        <span>/ Multiple day (@city.DayAmount)</span>
                                    }
                                    else
                                    {
                                        @if (city.ForecastDate != null)
                                        {
                                            <span>/ @city.ForecastDate</span>
                                        }
                                    }
                                    <br/>
                                    <strong>Date of search:</strong> @city.DateOfSearch
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    @{ 
                                        Model.City = city;
                                    }
                                    <form asp-action="City" asp-controller="Home" method="post">
                                        <button style="height:30px; width: 100%;" type="submit" class="btn btn-outline-secondary btn-sm whitehover text-black">
                                            <span>Search location weather</span>
                                        </button>
                                        <input asp-for="City.CityName" style="display:none" />
                                        <input asp-for="City.isMultipleDayForecast" style="display:none" />
                                        <input asp-for="City.DayAmount" style="display:none" />
                                        <input asp-for="City.ForecastDate" style="display:none" />
                                    </form>
                                </td>
                            </tr>
                            numeration++;
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}