@using Microsoft.AspNetCore.Identity
@inject SignInManager<Weather_forecast.Models.ApplicationUser> signInManager
@model Weather_forecast.ViewModels.CityAndApi
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the weather forecast app</h1>
        @if (ViewData["showHistory"] == "true")
        {
            <form asp-action="History" asp-controller="Home" method="get">
                <button type="submit" style="width:150px; height:30px;">Get Search History</button>
            </form>
        }
        <p>Search for a city to see its current weather:</p>
        <form asp-action="City" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="City.CityName" />
            <button type="submit" style="width:100px; height:30px;">Search</button>
            <span asp-validation-for="City.CityName" class="text-danger"></span>
        </form>
        @if (Model != null)
        {
            @if (ViewBag.error == true)
            {
                <div style="margin-top: 0.5rem;">
                    Failed to fetch weather data for @Model.City.CityName
                </div>
            }
            @if (Model.Weather != null)
            {
                @if (Model.Weather.resolvedAddress != null || Model.Weather.resolvedAddress != "")
                {
                    <div style="margin-top: 0.5rem;">
                        @Model.Weather.resolvedAddress temperature is @Model.Weather.currentConditions.temp C
                    </div>
                }
                <button onclick="showModal()">Share this forecast!</button>
                <iframe width="600" height="500" id="gmap_canvas" src=@Model.EmbedUrl frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>


            }
        }
        <div id="shareLink" hidden>@ViewBag.ShareLink</div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share your link!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a>@ViewBag.ShareLink</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="copyToClipboard()">Copy to clipboard!</button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        function showModal(){
        fetch(`/Home/ShareLink?city=@ViewBag.City&uid=@ViewBag.Uid&shareToken=@ViewBag.ShareToken`, {
            method: 'POST'
        })
         $(document).ready(function() {
             $("#exampleModal").modal("show");
         });
        }


        @*https://masteringjs.io/tutorials/fundamentals/copy-to-clipboard*@
        function copyToClipboard() {
          const element = document.querySelector('#shareLink');
          navigator.clipboard.writeText(element.innerText).then(function() {
          console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
          console.error('Async: Could not copy text: ', err);
        });
        }
    </script>
}
else if (ViewBag.SharedUrl != null)
{
    <div class="text-center">
        <div>
            <h4>Want to see the forecast without relying on other people to share it to you?</h4>
            <a class="text-dark h4" asp-area="" asp-controller="Account" asp-action="Register"> Register </a>
             | 
            <a class="text-dark h4" asp-controller="Account" asp-action="Login"> Login </a>
        </div>
        @if (Model != null)
        {
            @if (ViewBag.error == true)
            {
                <div style="margin-top: 0.5rem;">
                    Failed to fetch weather data for @Model.City.CityName
                </div>
            }
            @if (Model.Weather != null)
            {
                @if (Model.Weather.resolvedAddress != null || Model.Weather.resolvedAddress != "")
                {
                    <div style="margin-top: 0.5rem;">
                        @Model.Weather.resolvedAddress temperatuur on @Model.Weather.currentConditions.temp C
                    </div>
                }
                <iframe width="600" height="500" id="gmap_canvas" src=@Model.EmbedUrl frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            }
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-6">Please make an account or login to see the forecast</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </div>
}
@*<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=59.4372+24.7453&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>*@