@model Weather_forecast.ViewModels.LinkShares
@{
    ViewData["Title"] = "Statistics";
}
<div class="text-center">
    <h5 class="display-6">Your shared link statistics</h5>
    @foreach(CityShare share in Model.Shares)
    {
        <div>
            @if (share.isMultipleDayForecast)
            {
                <span>@share.City / Multiple days (@share.DayAmount) has been viewed @share.ViewCount times!</span>
                <a href="https://localhost:5001/Home/Shared?city=@share.City&shareToken=@share.ShareToken&uid=@share.UserId&metric=@share.Metric&displayMultipleDays=true&dayAmount=@share.DayAmount" class="btn btn-outline-secondary btn-sm whitehover text-black">
                    <span>Click here to view the shared link!</span>
                </a>
            }
            else
            {
                @if (share.forecastDate != null)
                {
                    <span>@share.City / @share.forecastDate has been viewed @share.ViewCount times!</span>
                    <a href="https://localhost:5001/Home/Shared?city=@share.City&shareToken=@share.ShareToken&uid=@share.UserId&metric=@share.Metric&foreCastDate=@share.forecastDate" class="btn btn-outline-secondary btn-sm whitehover text-black">
                        <span>Click here to view the shared link!</span>
                    </a>
                }
                else
                {
                    <span>@share.City has been viewed @share.ViewCount times!</span>
                    <a href="https://localhost:5001/Home/Shared?city=@share.City&shareToken=@share.ShareToken&uid=@share.UserId&metric=@share.Metric" class="btn btn-outline-secondary btn-sm whitehover text-black">
                        <span>Click here to view the shared link!</span>
                    </a>
                }
            }
            <a asp-controller="Home" asp-action="DeleteSharedLink" asp-route-shareToken="@share.ShareToken" class="btn btn-danger btn-sm">
                Delete this shared link
            </a>
        </div>
    }
</div>